@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}


.wrapper { 
    min-height: 100vh;
    background-color: #171717;
    
    
} 

.wrapper .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.search-container {
    background-color: #292929;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.search-button {
    padding: 1rem 2rem;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #f0e10a;
    color: black;
    cursor: pointer;
    margin-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 65px
}

.search-button:hover {
    background-color: #f0e10a;
}


.logo {
    padding: 1rem 0;
    border-bottom: 1px solid #171717;
    
}

.logo p {
    font-size: 2rem; 
    color: #fff;
    font-weight: bold;
}

.logo p span {
    color: #f0e10a;
}

.search-element {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


.search-element h3 {
    align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500; 
    margin-bottom: 1.5rem;

}

.search-element .form-control {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: #292929;
    width: 350px;
}

.result-container {
   margin-top: 40px;
   text-align: center;
    background-color: #171717;
    
   
}

.movie-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.movie-card {
    background-color: #292929;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}

.movie-card img {
    max-width: 100%;
    border-radius: 10px;
}

.movie-card h3 {
    margin-top: 10px;
    font-size: 1rem;
    color: #fff;
}

.movie-card p {
    color: #fff;
}